RewriteEngine on
RewriteRule ^index.html$ example01.php [L]
#RewriteRule ^(.*)\.php$ /$1.html [R=301,L]
ErrorDocument 404 "<body bgcolor=blue ><h1>404 Not Found.Trang khong ton tai!"
#ErrorDocument 404 /Error/404.html
